@use "../abstracts/constants" as *;

@font-face {
    font-family: 'Roboto';
    src: url('@/assets/external_fonts/Roboto.ttf') format('truetype');
}

html {
  font-size: 10px;

  @media(max-width: 1605px) {
    font-size: 8px;
  }

  @media(max-width: 1320px) {
    font-size: 5px;
  }

  @media(max-width: 790px) {
    font-size: 5px;
  }

  @media(max-width: 490px) {
    font-size: 4px;
  }
}

body {
    background-color: $color-light;
    color: $color-primary;
    font-family: 'Roboto', sans-serif;
}

.btn {
  color: $color-primary;
  padding: 0.5rem;
}

.btn_bordered {
  border: 3px solid $color-additional;
}

.btn_colored {
  padding: 1rem 2rem;
  background: $color-primary;
  color: $color-light;
}

.filter__btn {
  border: 1px $color-dark solid;
  color: $color-dark;

  &.active {
    background-color: $color-primary;
    color: $color-light;
    border-color: $color-primary;
  }
}