@font-face {
  font-family: 'Bebas Neue Cyrillic';
  src: url('@/assets/external_fonts/BebasNeue.ttf') format('truetype');
}

h1 {
  font-family: 'Bebas Neue Cyrillic';
  font-weight: 400;
  font-size: 11.5rem;
}

h2 {
  font-family: 'Bebas Neue Cyrillic';
  font-weight: 400;
  font-size: 4.8rem;
}

h3 {
  font-family: 'Bebas Neue Cyrillic';
  font-weight: 400;
  font-size: 3.6rem;
}

.paragraph {
  font-weight: 300;
  font-size: 3.2rem;
}

.caption {
  font-weight: 400;
  font-size: 2.4rem;
}

.caption-small {
  font-weight: 300;
  font-size: 2rem;
}

.ultra-small {
  font-weight: 300;
  font-size: 1rem;
}